:root {
	--color-white: #fff;
  
	--color-gray-100: #f5f6fb;
	--color-gray-200: #eaeaea;
	--color-gray-300: #ccd1d8;
	--color-gray-500: #828596;
	--color-gray-800: #323137;
  
	--color-purple-100: #f5f1ff;
	--color-purple-300: #c2a0ff;
	--color-purple-500: #6d56ca;
	--color-purple-700: #584b9b;
  
	font-size: 16px;
	background-color: var(--color-white);
  }
  
  html,
  body {
	position: relative;
	width: 100%;
	height: 100%;
  }
  
  body {
	color: var(--color-gray-800);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  a {
	color: rgb(0, 100, 200);
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
  a:visited {
	color: rgb(0, 80, 160);
  }
  
  label {
	display: block;
  }
  
  input,
  button,
  select,
  textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
  }
  
  input:disabled {
	color: #ccc;
  }
  
  button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
  }
  
  button:disabled {
	color: #999;
  }
  
  button:not(:disabled):active {
	background-color: #ddd;
  }
  
  button:focus {
	border-color: #666;
  }
