<script lang="ts">
  import type { Inaction } from "./types/Inaction";
  import InactionCard from "./components/InactionCard.svelte";

  let inactions: Inaction[] = [
    {
      title: "Finish Radiata Stories",
      dueDate: new Date("2006-01-27 PST"),
      notes: "Still salty about Elwen",
    },
    {
      title: "Feed the dog",
      dueDate: new Date(),
      notes: "He's hungry but that's just because he's picky.",
    },
    {
      title: "Learn to play the ocarina",
      dueDate: new Date("2022-12-31 PST"),
      notes: "Can you imagine having this much free time?",
    },
  ];
</script>

<main>
  <h1>To Don't List</h1>
  <p class="intro">Here's a list of things I'm not going to do:</p>
  {#each inactions as inaction}
    <InactionCard
      title={inaction.title}
      dueDate={inaction.dueDate.toLocaleDateString()}
      notes={inaction.notes}
    />
  {/each}
</main>

<style>
  main {
    max-width: 24rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  @media (min-width: 26rem) {
    main {
      padding: 0;
    }
  }
  .intro {
    color: var(--color-gray-500);
  }
</style>
